<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dawi">
	
	<select id="q_validarUsuario"  parameterType="usuarioDtoMybatis" resultType="usuarioDtoMybatis">
		SELECT * FROM T_USUARIO
		WHERE user=#{user}
	</select>
	
<!-- 	llamada usando procedure de mysql -->
	<select id="q_menu" resultType="menuDtoMybatis" statementType="CALLABLE">
 		{ CALL tree_get_branch(1,NULL,"_",#{idPerfil, mode=IN, jdbcType=INTEGER})}
	</select>
		
</mapper>