.navbar {
	margin-bottom: 0;
}

.jumbotron {
	background: url("../img/portal.JPG");
}

#contenidoPortal {
	background: none;
}
/* footer*/
.portal-text {
	color: white;
}

html,body {
	height: 100%;
}
/* footer {
	color: #666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
} */
footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
}

.push {
	height: 63px;
}

.facebook {
	display: block;
	background: url(../img/sprite-iconos.png);
	float: left;
	margin-top: 15px;
	background-position: 0 -1px;
}

.twitter {
	display: block;
	background: url(../img/sprite-iconos.png);
	float: left;
	margin-top: 15px;
	background-position: 0 -38px;
}

.googleplus {
	display: block;
	background: url(../img/sprite-iconos.png);
	float: left;
	margin-top: 15px;
	background-position: 0 -115px;
}

/* this begin*/
.thumbnail.sinRaya,.thumbnail.panel-footer.btnEscogerHab {
	text-decoration: none;
}

.btn.btn-default.btn-lg {
	float: right;
	padding: 28px 28px 28px 28px;
}

/* reserva convencional */
.listConScroll {
	max-height: 300px;
	overflow-y: scroll;
}

/* cs bootstrap */
.bs-callout {
	margin: auto;
	padding: 20px;
	border-left: 3px solid #eee;
}

.bs-callout-danger {
	background-color: #fdf7f7;
	border-color: #eed3d7;
}

.bs-callout-danger h4 {
	color: #b94a48;
}

/*checkin */
.tamanoModalAcompCheckin {
	width: 800px;
}

/*  */
.divParaModificarInputs {
	background-color: #4f9fcf;
}

.page-header-customed {
	border-bottom: 1px solid #eee;
}