.navbar {
	margin-bottom: 0;
}

.jumbotron {
	background: url("../img/portal.JPG");
}

#contenidoPortal {
	background: none;
}
/* footer*/
.portal-text {
	color: white;
}

html,body {
	height: 100%;
}
/* footer {
	color: #666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
} */
footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
}

.push {
	height: 63px;
}

.facebook {
	display: block;
	background: url(../img/sprite-iconos.png);
	float: left;
	margin-top: 15px;
	background-position: 0 -1px;
}

.twitter {
	display: block;
	background: url(../img/sprite-iconos.png);
	float: left;
	margin-top: 15px;
	background-position: 0 -38px;
}

.googleplus {
	display: block;
	background: url(../img/sprite-iconos.png);
	float: left;
	margin-top: 15px;
	background-position: 0 -115px;
}